#sidebar_root {
	/*height: 100%;*/
	padding: 1rem;
	width: 100%;
	/*box-shadow: 4px -1px 11px 0px rgba(100,149, 237, 0.5);*/
}

.textBoxContainer {
	margin-bottom: 1rem;
}

#sidebar_root > .custom-select {
	height: 70%;
	margin-bottom: 1rem;
}

.horizontalButtonContainer {
	display: flex;
}

.horizontalButtonContainer .btn-block {
	margin-left: 0.5rem !important;
	margin-right: 0.5rem !important;
	margin-top: 0px !important; /* for the record, i don't support this, but my hand has been forced by white america */
}

.horizontalButtonContainer button:disabled {
	background-color: #757575;
}

.transition_transparent {
	opacity: 0;
	visibility: hidden;
}

.transition_visible {
	opacity: 1;
	transition: opacity 0.25s;
	visibility: visible;
}