<div>
	<Card ElementId="@Thootle.Id" Background="Background.Dark" Margin="Margin.Is1.OnAll"
		class="@(State.Value.StagedThootle?.Id == Thootle.Id? "outlinedThootleCard": "")">
		<CardBody>
			<CardTitle Color="TextColor.Secondary" Size="5">@Thootle.Content</CardTitle>
			<CardText>
				@Thootle.Categories.DefaultIfEmpty().Select(c => c.ToString()).Aggregate((current, next) => $"{current} | {next}")
			</CardText>
			<CardActions Float="Float.Right">
				<button @onclick="Delete" class="btn btn-icon rounded-circle" type="button"><span
						class="material-icons color-red600">delete</span></button>
				<button disabled=@(State.Value.StagedThootle?.Id==Thootle.Id) @onclick="Edit" class="btn btn-icon rounded-circle" type="button"><span
						class="material-icons color-orange600">mode_edit</span></button>
			</CardActions>
		</CardBody>
	</Card>
</div>