@page "/";
@using Ambedo.UI.Data.Services.Interfaces
@using Ambedo.Contract.Dtos
@inject IDataService dataService;

@if (thootles == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div>
	@foreach (var thootle in thootles)
			{
				<div className="thootleItem">@thootle.Content</div>
			}
	</div>

}
@code {
	public IEnumerable<Thootle> thootles { get; set; }

	protected override async Task OnInitializedAsync()
	{
		thootles = await dataService.GetThootlesAsync();
	}
}