@page "/";
@using Ambedo.UI.Data.Services.Interfaces
@using Ambedo.Contract.Dtos
@inject IDataService dataService;

@if (thootles == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div>
		<ul>
			@foreach (var thootle in thootles)
			{
				<li>@thootle.Content</li>
			}
		</ul>
	</div>

}
@code {
	public IEnumerable<Thootle> thootles { get; set; }

	protected override async Task OnInitializedAsync()
	{
		thootles = await dataService.GetThootlesAsync();
	}
}
