#sidebar_root {
	height: 100%;
	width: 30%;
	background-color: cornflowerblue;
	padding: 1rem;
	box-shadow: 4px -1px 11px 0px rgba(100,149, 237, 0.5);
}

.textBoxContainer {
	margin-bottom: 1rem;
}

#sidebar_root > .custom-select {
	height: 70%;
	margin-bottom: 1rem;
}

#horizontalButtonContainer {
	display: flex;
	flex-direction: row;
}