#sidebar_root {
	/*height: 100%;*/
	padding: 1rem;
	width: 100%;
	/*box-shadow: 4px -1px 11px 0px rgba(100,149, 237, 0.5);*/
}

.textBoxContainer {
	margin-bottom: 1rem;
}

#sidebar_root > .custom-select {
	height: 70%;
	margin-bottom: 1rem;
}

.horizontalButtonContainer {
	display: grid;
	grid-template-columns: 47.5% 47.5%;
	grid-gap: 5%;
}

.horizontalButtonContainer > .btn-block {
	margin-top: 0px !important; <-- yes beats me, they (blazorize) add that margin-top for some reason so im doing cleanup -->
}

.transition_transparent {
	opacity: 0;
	visibility: hidden;
}

.transition_visible {
	opacity: 1;
	transition: opacity 0.25s;
	visibility: visible;
}