@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/";

<Fluxor.Blazor.Web.StoreInitializer />
<div>
	<Blazorise.ThemeProvider Theme="@theme">
		<Modal @ref="stateModalRef">
			<ModalContent Centered="true" class="errorModal">
				<ModalHeader>
					<ModalTitle>
						<Text Color="TextColor.Warning">Error</Text>
					</ModalTitle>
					<CloseButton />
				</ModalHeader>
				<ModalBody>
					<Text Color="TextColor.Secondary">@DataState.Value.Error</Text>
				</ModalBody>
				<ModalFooter>
					<Button Color="Color.Warning" Clicked="@HideModal">Close</Button>
				</ModalFooter>
			</ModalContent>
		</Modal>
		<Layout Sider="true" Loading="Loading">
			<LayoutSider>
				<LayoutSiderContent Style="z-index:1">
					<Bar Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small" Breakpoint="Breakpoint.Desktop"
						NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark">
						<SidebarForm />
					</Bar>
				</LayoutSiderContent>
			</LayoutSider>
			<LayoutContent Padding="Padding.Is2.OnAll" class="cardsContainer">
				@foreach (var thootle in DataState.Value.Thootles)
				{
					<ThootleCard Thootle="@thootle" />
				}
			</LayoutContent>
		</Layout>
	</Blazorise.ThemeProvider>
</div>
