@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/";

<Fluxor.Blazor.Web.StoreInitializer />
<div>
	<Blazorise.ThemeProvider Theme="@theme">
		<Layout Sider="true" Loading="Loading">
			<LayoutSider>
				<LayoutSiderContent Style="z-index:1">
					<Bar Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small" Breakpoint="Breakpoint.Desktop"
						NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark">
						<SidebarForm />
					</Bar>
				</LayoutSiderContent>
			</LayoutSider>
			<LayoutContent Padding="Padding.Is2.OnAll" class="cardsContainer">
				@foreach (var thootle in DataState.Value.Thootles)
				{
					<ThootleCard Thootle="@thootle" />
				}
	 </LayoutContent>
	</Layout>
 </Blazorise.ThemeProvider>
</div>
