@page "/";
@using Ambedo.UI.Data.Services.Interfaces
@using Ambedo.Contract.Dtos
@using Blazorise
@using Blazorise.Components 
@inject IDataService dataService;
<Blazorise.ThemeProvider Theme="@theme">
	<Layout Sider="true" Loading="thootles==null || thootles.Count==0">
		<LayoutSider>
			<LayoutSiderContent>
				<Bar Mode="BarMode.VerticalInline"
					 CollapseMode="BarCollapseMode.Small"
					 Breakpoint="Breakpoint.Desktop"
					 NavigationBreakpoint="Breakpoint.Tablet"
					 ThemeContrast="ThemeContrast.Dark">
					<Sidebar></Sidebar>

				</Bar>
			</LayoutSiderContent>
		</LayoutSider>
		<LayoutContent>
			@foreach (var thootle in thootles)
			{
				<div class="cardContainer">
					<Card Background="Background.Primary">
						<CardBody>
							<CardTitle Color="TextColor.Secondary" Size="5">@thootle.Content</CardTitle>
							<CardText>
								@thootle.Categories.Select(c => c.ToString()).Aggregate((current, next) => $"{current} | {next}")
							</CardText>
						</CardBody>
					</Card>
				</div>

			}
		</LayoutContent>
	</Layout>
</Blazorise.ThemeProvider>

@code {
	private Theme theme = new Theme
	{
		BarOptions = new ThemeBarOptions
		{
			VerticalWidth = "400px"
		}
	};
	public List<Thootle> thootles = new List<Thootle>();
	protected override async Task OnInitializedAsync()
	{
		var apiTootles = await dataService.GetThootlesAsync();
		thootles.AddRange(apiTootles);
	}
}